table, tr, td{ border: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;

}

th{
    background-color: #003366;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    padding: 5px;
}

/*elegir renglones pares o impares*/
tr:nth-child(even){
    background-color: #FAA916;
    color: #FBFFFE;
}

tr:nth-child(odd){
    background-color: #003366;
    color: #FBFFFE;
}

h3{
    color: #96031A;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003366;
}
